p(style="text-align: center;")
  |YelpCamp - Yelp for campsites. Adapted from the Web Developer Bootcamp on 
  |Udemy. 
  br 
  |Powered by mongoDB, Express and Node.js. All rights reserved.
  
</body>
</html>