doctype
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    title YelpCamp 
    meta(name="viewport" content="width=device-width, initial-scale=1")  
    link(rel="stylesheet", href="/styles/bootstrap.css")
    link(rel="stylesheet" href="/styles/app.css") 
  body
    nav.navbar.navbar-default
      div.container-fluid
        div.navbar-header
          a.navbar-brand(href="/") YelpCamp 
            if currentUser
              span - welcome back, #{currentUser.username}

        div.collapse.navbar-collapse
          ul.navbar-nav.nav.navbar-right
            if !currentUser 
              li: a(href="/login") Login
              li: a(href="/register") Sign up
            else 
              li: a(href="/logout") Logout
    
    div.container
      if error && error.length > 0
        div.alert.alert-danger= error
      if success && success.length > 0
        div.alert.alert-success= success
      - console.log(error)
      - console.log(success)