#delete-button {
  display: inline;
  padding-left: 1%;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.form {
  width: 30%;
  margin: 25px auto;
}

.thumbnail .caption-full {
  padding: 9px;
}

.thumbnail {
  padding: 0;
}

.thumbnail img {
  width: 100%;
}
